@font-face {
  font-family: "Space Mono";
  src: url("../fonts/font/SpaceMono-Bold.woff2") format("woff2"),
    url("../fonts/font/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  display: swap;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/font/LexendDeca-Regular.woff2") format("woff2"),
    url("../fonts/font/LexendDeca-Regular.woff") format("woff");
  font-weight: normal;
  display: swap;
  font-style: normal;
  font-display: swap;
}
