.hero--second {
  // Margin, paddings
  margin-bottom: 120px;
  padding: 50px 0 50px 0;

  background-image: url("../../images/about-bg.png");
}

.features__lap:nth-child(2) {
  margin-bottom: 120px;
}
