//**************
//***HERO***//
//*************

.hero {
  padding: 153px 0 153px 0;
  // Paddings

  background-image: url("../../images/hero-bg-of.jpg"),
    url("../../images/hero-circles.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__inner {
  background-image: url("../../images/hero-line-2.svg");
  background-repeat: no-repeat;
  background-position: right 240px bottom;
}

.hero__title {
  width: 500px;
}

.hero__title h2 {
  margin: 0;
  // Margins

  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  //   Font styles

  color: #ffffff;
  //   Text styles
}

.hero__text::before {
  content: "";
  display: inline-block;
  position: absolute;

  //   Width and height
  width: 203px;
  height: 20px;

  //   Background styles
  background-image: url("../../images/hero-line-1.jpg");
  background-repeat: no-repeat;
  top: calc(45% - 20%);
  left: calc(-50% - 20%);
}

.hero__text {
  position: relative;
  margin-left: auto;
  width: 400px;
}

.hero__text p {
  margin: 40px 0 40px 0;
  // Margins

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  // Font styles

  font-size: 15px;
  line-height: 25px;
  //   Font sizes

  color: #ffffff;
  //   Font styles
}

// Media
@media only screen and (max-width: 375px) {
  .hero {
    padding: 153px 0;
    // Paddings

    background-image: url("../../images/hero-bg-of.jpg");
    background-size: 100% 650px;
  }

  .hero__text::before {
    background-image: none;
  }

  .hero__title {
    width: 311px;
    margin: 0 auto;
    text-align: center;
  }

  .hero__title h2 {
    font-size: 40px;
  }

  .hero__text {
    margin: 0;
    width: 300px;
  }

  .hero__inner {
    background-image: none;
  }
}

@media only screen and (max-width: 576px) {
  .hero {
    padding: 153px 0;
    // Paddings

    background-image: url("../../images/hero-bg-of.jpg");
    background-size: 100% 650px;
  }

  .hero__text::before {
    background-image: none;
  }

  .hero__title {
    width: 311px;
    margin: 0 auto;
    text-align: center;
  }

  .site-button a {
    display: block;
  }

  .hero__title h2 {
    font-size: 40px;
  }

  .hero__text {
    margin: 0;
    width: 300px;
  }

  .hero__inner {
    background-image: none;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 153px 0;
    // Paddings

    background-image: url("../../images/hero-bg-of.jpg");
    background-size: 100% 650px;
  }

  .hero__text::before {
    background-image: none;
  }

  .site-button a {
    display: block;
  }

  .hero__title {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .hero__title h2 {
    font-size: 40px;
  }

  .hero__text {
    margin: 0;
    width: 400px;
  }

  .hero__inner {
    background-image: none;
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    padding: 153px 0;
    // Paddings

    background-image: url("../../images/hero-bg-of.jpg");
    background-size: 100% 650px;
  }

  .hero__text::before {
    background-image: none;
  }

  .hero__title {
    width: 310px;
    margin: 0 auto;
    text-align: center;
  }

  .hero__title h2 {
    font-size: 40px;
  }

  .hero__text {
    margin: 0;
    width: 310px;
  }

  .hero__inner {
    background-image: none;
  }
}

@media only screen and (max-width: 1257px) {
  .hero__inner {
    background-position: right 20px bottom;
  }
}
// Media
